@font-face {
        font-family:roboto_bold;
        src: url(font/Roboto-Bold.ttf);
}
.roboto_bold{
    font-family:roboto_bold;
}

@font-face {
        font-family:roboto_reg;
        src: url(font/Roboto-Regular.ttf);
}
.roboto_reg{
    font-family:roboto_reg;
}

@font-face {
        font-family:roboto_lit;
        src: url(font/Roboto-Light.ttf);
}
.roboto_lit{
    font-family:roboto_lit;
}


@font-face {
        font-family:mon_bold;
        src: url(font/Montserrat-Bold.otf);
}
.mon_bold{
    font-family:mon_bold;
}


@font-face {
        font-family:mon_reg;
        src: url(font/Montserrat-Regular.otf);
}
.mon_reg{
    font-family:mon_reg;
}