
@font-face {
        font-family:raleway_thin;
        src: url(font/Raleway-Thin.ttf);
}
.raleway_thin{
    font-family:raleway_thin;
}

@font-face {
        font-family:raleway_light;
        src: url(font/Raleway-Light.ttf);
}
.raleway_light{
    font-family:raleway_light;
}
@font-face {
        font-family:raleway_extrabold;
        src: url(font/Raleway-ExtraBold.ttf);
}
.raleway_extrabold{
    font-family:raleway_extrabold
;
}

@font-face {
        font-family:raleway_regular;
        src: url(font/Raleway-Regular.ttf);
}
.raleway_regular{
    font-family:raleway_regular;
}

@font-face {
        font-family:raleway_bold;
        src: url(font/Raleway-Bold.ttf);
}
.raleway_bold{
    font-family:raleway_bold;
}

@font-face {
        font-family:raleway_semibold;
        src: url(font/Raleway-SemiBold.ttf);
}
.raleway_semibold{
    font-family:raleway_semibold;
}

@font-face {
        font-family:raleway_medium;
        src: url(font/Raleway-Medium.ttf);
}
.raleway_medium{
    font-family:raleway_medium;
}

@font-face {
        font-family:raleway_italic;
        src: url(font/Raleway-Italic.ttf);
}
.raleway_italic{
    font-family:raleway_italic;
}

@font-face {
        font-family:raleway_black;
        src: url(font/Raleway-Black.ttf);
}
.raleway_black{
    font-family:raleway_black;
}


@font-face {
        font-family:raleway_extra_lit;
        src: url(font/Raleway-ExtraLight.ttf);
}
.raleway_extra_lit{
    font-family:raleway_extra_lit;
}


@font-face {
        font-family:opensans_reg;
        src: url(font/OpenSans-Regular.ttf);
}
.opensans_reg{
    font-family:opensans_reg;
}
@font-face {
        font-family:opensans_light;
        src: url(font/OpenSans-Light.ttf);
}
.opensans_light{
    font-family:opensans_light;
}


